<head>

</head>

  <app-nav></app-nav>

<div class="wrapper">
  
  <div class="wrappercenter">
    
<div id="suchleiste">
    <label>Geben Sie eine Lego-Set-Nummer oder einen Namen ein:</label>
    <input type="text" #box placeholder="75192 oder Millenium Falcon">
    
      <a href="#" class="button" (click)="getValue(box.value)">
        <div class="button__line"></div>
        <div class="button__line"></div>
        <span class="button__text">SUCHE</span>
        <div class="button__drow1"></div>
        <div class="button__drow2"></div>
      </a> 
</div>
</div>

</div>
<app-impressum></app-impressum>
