@import "@fontsource/gfs-didot";
//@import "@coreui/coreui/scss/coreui";


*,
*::before,
*::before{
    margin:0;
    padding:0;  
}
:root {
    --color-bg: white;
    --color-text: #333333;
    --color-menu: #ffcccc;
    --color-label: #333333;
    --color-border: #333333;
    
    --line_color : #555555;
    --back_color : #FFECF6;
    --button_bg_color: #f1acac;
    
    --font-family: 'GFS Didot', sans-serif;
    --letter-spacing: 4px;
    
}
[dark-theme="dark"] {
    --color-bg:#333333;
    --color-text: #ffffe6;
    --color-label: #ffffe6;
    --color-border:#ffffe6;
    --font-family:'GFS Didot', sans-serif;
    --line_color : #ffffe6;
    --back_color : #FFECF6;
    --button_bg_color: #71b0c6;
    --color-menu: #71b0c6;
    
}